{{#collection tag="header"}}
  <table class="breeze table table-striped">
    <col width="120px" />
    <col width="20px" />
    <col width="20px" />
    <col width="220px" />
    <col width="20px" />
    <col width="20px" />
    <col width="20px" />
    <col width="20px" />
    <thead>
      <th></th>
      <th>Location</th>
      <th>Time</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Wind Bearing</th>
      <th>Temperature</th>
      <th>Summary</th>
    </thead>
    <tbody>
      <tr> 
        <td>{{icon}}</td>
        <td>{{location}}</td>
        <td>{{time}}</td>
        <td>{{windSpeed}}</td>
        <td>{{windDirection}}</td>
        <td>{{windBearing}}</td>
        <td>{{temperature}}</td>
        <td>{{summary}}
      </tr>
    </tbody>
  </table>
{{/collection}}
